/* key frames*/
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.WelcomeGamers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
  border-bottom: 1px solid #b039ff46;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.section-class {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animate {
  opacity: 1;
}

.Headingthree {
  color: var(--text-white);
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-5);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 10px;
  background-image: radial-gradient(ellipse, #a8a2bb, #723327);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: lights 5s 750ms linear infinite;
}

.HeadingOne {
  font-size: 2rem;
  text-transform: uppercase;
  animation: slideIn 1s ease-in-out;
  background-image: radial-gradient(ellipse, #8070ac, #a3746b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

.HomeButtonCommunity {
  --border: 2px; /* the border width */
  --slant: 0.7em; /* control the slanted corners */
  --color: #b039ff; /* the color */

  font-size: 25px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  animation: slideIn 1s ease-in-out;
  font-weight: bold;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
}
.HomeButtonCommunity:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
.HomeButtonCommunity:hover,
.HomeButtonCommunity:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.HomeButtonCommunity:active {
  --s: #0005;
  transition: none;
}

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: var(--gradient-1);
  display: grid;
  place-items: center;
  animation: slideIn 1s ease-in-out;
  font-size: 2.1rem;
  clip-path: var(--clip-path-8);
  transition: var(--transition-1);
  z-index: 4;
}

.back-top-btn {
  --border: 2px; /* the border width */
  --slant: 0.7em; /* control the slanted corners */
  --color: #b039ff; /* the color */

  cursor: pointer;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
}
.back-top-btn:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
.back-top-btn:hover,
.back-top-btn:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.back-top-btn:active {
  --s: #0005;
  transition: none;
}
.Banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  animation: slideIn 1s ease-in-out;
}
.Herobannerbg {
  transform: scale(1);
  position: relative;
  animation: slideIn 1s ease-in-out;
}
.Herobanner {
  position: absolute;
  width: 50%;
  z-index: 1;
  margin-bottom: 6rem;
  animation: slideIn 1s ease-in-out;
}
.videoContainer {
  width: 98%;
  height: 80vh;
  margin: auto;
  position: relative;
  animation: slideIn 1s ease-in-out;
  overflow: hidden;
  border-radius: 33px;
}

.videoContainer video {
  position: absolute;
  margin-top: 2.5rem;
  border-radius: 33px;
  width: 100%;
  height: 92%;
  border-bottom: 1px solid #b039ff96;
  border-top: 1px solid #b039ff93;
  object-fit: cover;
  opacity: 0.9;
}

.VideoHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  animation: slideIn 1s ease-in-out;
}

.GamesIcon {
  font-size: 2.5rem;
  color: #dedede;
  margin-left: 0.6rem;
  animation: slideIn 1s ease-in-out;
}
.GamesIcon1 {
  font-size: 2.5rem;
  color: #dedede;
  margin-right: 1rem;
  animation: slideIn 1s ease-in-out;
}

.News {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b039ff46;
}

.Newsheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  animation: slideIn 1s ease-in-out;
  background-image: radial-gradient(ellipse, #8070ac, #a3746b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.NewsIcon {
  font-size: 2.5rem;
  color: #dedede;
  margin-right: 2rem;
  animation: slideIn 1s ease-in-out;
}

.NewsIcon1 {
  font-size: 2.5rem;
  color: #dedede;
  margin-left: 1.8rem;
  animation: slideIn 1s ease-in-out;
}

.Tournament {
  display: flex;
  flex-direction: column;
  animation: slideIn 1s ease-in-out;
  border-bottom: 1px solid #b039ff46;
  padding-bottom: 3rem;
}

.Tournmentheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  animation: slideIn 1s ease-in-out;
  background-image: radial-gradient(ellipse, #8070ac, #a3746b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.TournmentsheaderText {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}
.TournmentheaderTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  animation: slideIn 1s ease-in-out;
  background-image: radial-gradient(ellipse, #8070ac, #a3746b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.TournmentCard{
  width: 200px;
  height: 140px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: #DEDEDE;
}
.TournmentData {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-top: 3.8rem;
}

.Cardimgdiv {
  height: 50%;
  width: auto;
}

.Nameh1 {
  color: #5e5e5e;
}
.TournmentCard:hover {
  height: 300px;
  transform: skew(0deg);
}
.Tournamentbody {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}

.TournmentDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #dedede;
}

.TeamLogo {
  width: 100%;
}

.links {
  display: flex;
  gap: 1rem;
  margin-top: 0.3rem;
}


.Link {
  font-size: 1.5rem;
  color: #DEDEDE
}
.PopularGames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.PopularGamesheader {
  display: flex;
}
.PopularIcons {
  font-size: 2.5rem;
  color: #dedede;
  margin-right: 1rem;
  animation: slideIn 1s ease-in-out;
  margin-top: 1.5rem;
}
.PopularIconsOne {
  font-size: 2.5rem;
  color: #dedede;
  margin-left: 1rem;
  animation: slideIn 1s ease-in-out;
  margin-top: 1.5rem;
}
.PopularGamesheaderText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  animation: slideIn 1s ease-in-out;
  background-image: radial-gradient(ellipse, #8070ac, #a3746b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}
.cardHome {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
 
}

.cardimg {
  width: 100%
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #b039ff;
  position: absolute;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.cardHome:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.cardHome .card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardHome:hover .card-btn {
  opacity: 1;
  scale: 1;
}

.cardHome .card-btn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.cardHome .card-btn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-color: #b039ff23;
  transition: transform 0.5s ease;
}

.cardHome:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}

.Community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CommunityHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  animation: slideIn 1s ease-in-out;
  background-image: radial-gradient(ellipse, #8070ac, #a3746b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 1rem;
}

.CommunityHeading {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}


@media screen and (max-width: 768px) {
  .Headingthree {
      font-size: 1rem;
      margin-left:1.1rem;
      padding-left: 2rem;
    
  }

  .HeadingOne {
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .Banners {
    display: none;
  }
  
  .CommunityLink  {
    padding-bottom: 1rem;
  }
  .Tournamentbody {
    display: flex;
    flex-direction: column;
  }

  .TournmentsheaderText {
    font-size: 1.7rem;
  }

  .CommunityHeading {
    font-size: 1.5rem;
  }

  .NewsIcon {
      font-size: 2rem;
      margin-right: 1rem;
  }

  .NewsIcon1 {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .Tournmentheadertwo h3 {
    display: none;
  }

  .PopularGamesheader {
    margin-left: 2rem;
  }

  .PopularGamesheaderText {
    font-size: 1.7rem;
  }

  .PopularIcons {
    font-size: 2rem;
  }
  .PopularIconsOne {
    font-size: 2rem;
  }
 

 }


