.SingleGamePage {
    display: grid;
    width: 100%;
    animation: slideIn 1s ease-in-out;
}
.LeftSide {
    margin-top: 1rem;
}

.About {
    margin-bottom: 1rem;
}
.GameH1 {
    font-size: 5rem;
    text-transform: uppercase;
    animation: slideIn 1s ease-in-out;
    background-image: radial-gradient(ellipse, #8070ac, #a3746b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.Gameimg {
    width: 100%;
    border-radius: 33px;
}

.GameImages {
    display: flex;
    flex-direction: column;
    width: 90%;;
    margin-left: 4rem;
    gap: 1rem;
    border-radius: 33px;
}

.TopSide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-left: 2rem;
    margin-top: 2rem;
}

.RightSide h3 {
    text-transform: uppercase;
    animation: slideIn 1s ease-in-out;
    background-image: radial-gradient(ellipse, #8070ac, #a3746b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
}

.RightSide span {
    color: #DEDEDE;
}

.RightSideyunder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.Spans {
    display: flex;
    flex-direction: column;
}

.UnderBottomSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RightSide {
    width: 100%;
    padding-left: 2rem;
}

.MiddleBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

.MiddleSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.MiddleH1{
    font-size: 3rem;
    text-transform: uppercase;
    animation: slideIn 1s ease-in-out;
    background-image: radial-gradient(ellipse, #8070ac, #a3746b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.MiddleBottom h3 {
   padding-bottom: 1rem;
   text-transform: uppercase;
   animation: slideIn 1s ease-in-out;
   background-image: radial-gradient(ellipse, #8070ac, #a3746b);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   font-size: 2rem;
}


.MiddleBottom span {
    text-transform: uppercase;
    animation: slideIn 1s ease-in-out;
    background-image: radial-gradient(ellipse, #8070ac, #a3746b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
 }
 .BottomSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
 }

 .BottomH1 {
    font-size: 3rem;
    text-transform: uppercase;
    animation: slideIn 1s ease-in-out;
    background-image: radial-gradient(ellipse, #8070ac, #a3746b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
 } 
 