.footer #button {
  width: 35px;
  height: 35px;
  border: #dedede 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
  animation: slideIn 1s ease-in-out;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #b039ff 12px solid;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration: none;
 
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  color: #0c0c36;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  background: #0c0c36;
}
.footer_center {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
  margin-right: 8rem;
}
.LogoFooter {
  display: flex;
}
.mediaicons {
  display: flex;
  gap: 3rem;
}

.MediaIcons {
  font-size: 1.5rem;
  color: #dedede;
}
.FooterNavgation {
   display: flex;
   gap: 3rem;
   text-decoration: none;
}
.FooterNavgation a {
  text-decoration: none;
}
.Navgation {
  color: #dedede;
}

@media screen and (max-width: 1080px) {
  .FooterNavgation {
    margin-left: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    text-decoration: none;
  }

  .LogoFooter {
    display: none; /* Hide logo on smaller screens */
  }

  .mediaicons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    font-size: 1rem;
  }
}